{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    
    <!-- Welcome Section -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to CryptoSignals</h1>
            <p class="lead">Your one-stop solution for crypto trading signals and analytics.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
            <span class="lead"> or  </span>
            <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
        </div>
    </div>
    
    <!-- Animated Section -->
    <div style="background-color: #f8f9fa;">
        <div class="container py-5">
            <h2 class="text-center mb-4">Market Trends</h2>
            <div class="canvas-container">
                <canvas id="tradingChart"></canvas>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- My JS  -->
    <script src="{% static 'common/js/trending_line.js' %}"></script>

{% endblock %}