html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Ensure there's no padding causing the issue */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    /* Remove padding-top if the navbar is fixed and causing white space */
}

/* Ensure navbar sticks to the top */
.navbar {
    margin-bottom: 0; /* Removes any default margin that may cause white space */
    width: 100%;
}

.navbar-nav .nav-item {
    align-items: center;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto; /* Allows content to scroll internally if needed */
}

.canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-height: 50vh; /* Adjust this based on your needs */
}

canvas {
    max-height: 100%;
    max-width: 100%;
}

.logout-button {
    color: white; /* Adjust as per your navbar link color */
    text-decoration: none;
    padding: 0;
    background: none;
    border: none;
    display: inline;
    margin: 0;
    vertical-align: middle; /* Adjusted to middle for better alignment */
}


/* Make the form fit with the nav item */
.nav-item form {
    display: inline-block;
    margin: 0;
    vertical-align: middle; /* Ensures the form aligns with inline elements */
}

